<p id="notice"><%= notice %></p>

<section>
  <h1><%= t('.title') %></h1>
  <p>
    <%= t('.description') %>
  </p>
</section>

<section>
  <table>
    <thead>
      <tr>
        <th><%= Blog.human_attribute_name(:title) %></th>
        <th><%= Blog.human_attribute_name(:user_id) %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= link_to(blog.title, blog) %></td>
          <td><%= link_to(blog.user.name, blog.user) %></td>
          <td>
            <% if blog.author?(current_user) %>
              <%= link_to(t('edit'), edit_blog_path(blog)) %>
              <%= link_to(t('destroy'), blog, method: :delete, data: { confirm: t('are_you_sure?') }) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<br>

<%= link_to(t('new'), new_blog_path) %>
