<h1><%= @blog.title %></h1>
<p>
  <%= link_to(@blog.user.name, @blog.user) %>
</p>

<pre>
  <%= @blog.body %>
</pre>

<%= link_to(t('edit'), edit_blog_path(@blog)) if @blog.author?(current_user) %>
<%= link_to(t('back'), blogs_path) %>
