<section>
  <%= link_to(t('application_name'), root_path) %>
</section>
<section style='text-align: right;'>
  <% if !!current_user %>
    <%= current_user.name %>
    |
    <%= link_to(t('.log_out'), session_path, method: :delete) %>
  <% else %>
    <%= link_to(t('.log_in'), new_session_path) %>
    |
    <%= link_to(t('.sign_up'), new_user_registration_path) %>
  <% end %>
</section>
<section>
  <%= link_to(t('.blogs'), blogs_path) %>
  |
  <%= link_to(t('.users'), users_path) %>
</section>
